@import "../../styles/settings/__settings";

.glitch {
  background-image: url(/pic/watercolor-glitch.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  max-width: 100%;
  padding: 4em 0;
  margin: 4em 0;
  &_content {
    max-width: 85em;
    padding: 0 2em;
    margin: 0 auto;
    display: grid;
    place-content: center;
    h1 {
      font-size: 1rem;
      font-weight: 800;
    }
    button {
      border: none;
      background: none;
      margin-top: 0.5em;
      font-size: 0.8rem;
      padding: 1em 1.12em;
      font-weight: 600;
      background-color: $background-color;
      color: $bold;
      letter-spacing: 0.03em;
      border-radius: 10em;
      cursor: pointer;
      transition: transform 250ms ease;

      &:hover,
      &:focus {
        transform: scale(1.04);
      }
    }
  }
}

@media (min-width: $mobile) {
  .glitch_content {
    h1 {
      font-size: 1.5rem;
    }
    button {
      font-size: 1.12rem;
    }
  }
}
@media (min-width: $tablet) {
  .glitch_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 2.5rem;
    }
    button {
      font-size: 1.2rem;
      padding: 1.3em 2em;
    }
  }
}
