// for background
$background-color: rgb(17, 16, 16);

// for typography
$heading: rgb(255, 255, 255);
$paragraph: rgb(170, 170, 170);
$bold: rgb(255, 255, 255);

// for links etc.
$link-before-hover: rgb(89, 89, 89);
$link-after-hover: rgb(255, 255, 255);

// button

$btn-before-hover: rgba(113, 34, 249, 0.7);
$btn-after-hover: rgb(113, 34, 249);

//navbar mobile sidebar
$navbar-sidebar: rgb(250, 244, 244);

//navbar mobile sidebar text
$navbar-sidebar-text: rgb(89, 89, 89);
$navbar-sidebar-text-hover: rgb(17, 16, 16);
